In [134]:
import pandas as pd
import tabula
card_df = tabula.read_pdf('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf',pages='all')
card_df = pd.concat(card_df)
card_df

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
14,180036921556789,12/28,JCB 15 digit,1997-06-06
15,180018030448512,11/24,JCB 15 digit,2004-06-16
16,3569953313547220,04/24,JCB 16 digit,2020-02-05
17,4444521712606810,06/27,VISA 16 digit,2008-06-16
18,372031786522735,02/30,American Express,2009-02-04

In [139]:
print(type(card_df))

<class 'pandas.core.frame.DataFrame'>

In [137]:
print(card_df)

         card_number expiry_date                card_provider  \
0     30060773296197       09/26  Diners Club / Carte Blanche
1    349624180933183       10/23             American Express
2   3529023891650490       06/23                 JCB 16 digit
3    213142929492281       09/27                 JCB 15 digit
4       502067329974       10/25                      Maestro
..               ...         ...                          ...
14   180036921556789       12/28                 JCB 15 digit
15   180018030448512       11/24                 JCB 15 digit
16  3569953313547220       04/24                 JCB 16 digit
17  4444521712606810       06/27                VISA 16 digit
18   372031786522735       02/30             American Express

   date_payment_confirmed
0              2015-11-25
1              2001-06-18
2              2000-12-26
3              2011-02-12
4              1997-03-13
..                    ...
14             1997-06-06
15             2004-06-16
16             2020-02-05
17             2008-06-16
18             2009-02-04

[15309 rows x 4 columns]

In [140]:
len(card_df)

15309

In [133]:
card_df

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
14,180036921556789,12/28,JCB 15 digit,1997-06-06
15,180018030448512,11/24,JCB 15 digit,2004-06-16
16,3569953313547220,04/24,JCB 16 digit,2020-02-05
17,4444521712606810,06/27,VISA 16 digit,2008-06-16
18,372031786522735,02/30,American Express,2009-02-04

In [156]:
 #remove null value for each column
card_df=card_df.dropna()

In [154]:
   # check columns information 
card_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15284 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 597.0+ KB

In [142]:
card_df.isnull().sum()

card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

In [143]:
 # remove some NULL entries from card number
card_df = card_df[card_df['card_number']!='NULL']

In [144]:
# transform the payment date into a datetime object
card_df['date_payment_confirmed'] = pd.to_datetime(card_df['date_payment_confirmed'], infer_datetime_format=True, errors = 'coerce')

In [152]:
# check to confirm
card_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15284 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 597.0+ KB

In [146]:
# transform the card expiry date into a datetime object
card_df['expiry_date'] =  pd.to_datetime(card_df['expiry_date'], infer_datetime_format=True, errors = 'coerce')

In [167]:
# check to confirm
card_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1312 entries, 16 to 4
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             1312 non-null   object
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           1312 non-null   category
 3   date_payment_confirmed  1312 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](2), object(1)
memory usage: 42.7+ KB

In [153]:
 # remove some wrong entries by removing the lines with wrong card provides
card_df = card_df[card_df['card_provider'].isin(['Diners Club / Carte Blanche', 'American Express', 'JCB 16 digit',
        'JCB 15 digit', 'Maestro', 'Mastercard', 'Discover',
        'VISA 19 digit', 'VISA 16 digit', 'VISA 13 digit'])]

In [158]:
 # Removes ? question marks from card numbers
import re
card_df['card_number'] = card_df['card_number'].apply(lambda x: re.sub(r'^\?+', '', x) if isinstance(x, str) else x)

In [160]:
# removes non-numeric card numbers
card_df = card_df[card_df['card_number'].apply(lambda x: str(x).isdigit())]

AttributeError: 'list' object has no attribute 'info'

In [174]:
#converts the card number column to an integer
card_df['card_number'] = card_df['card_number'].astype('int64')

In [163]:
# converts the card provider column to a category
card_df['card_provider'] = card_df['card_provider'].astype('category')

In [173]:
 import re
    # remove the '???' from some of the entries
card_df['card_number'] = card_df['card_number'].astype(str).str.replace('?', '', regex = True).astype('int64')